src/main/resources/VSX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="vaccinazioniSomministrate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Assistito" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="VaccinoSomministrato" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PrincipioVaccinale" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="CodAntigene" type="CodAntigene" use="required"/>
                                                <xs:attribute name="Dose" type="Dose" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="TipoTrasmissione" type="TipoTrasmissione" use="required"/>
                                    <xs:attribute name="TipoErogatore" type="TipoErogatore" use="required"/>
                                    <xs:attribute name="CodiceStruttura" type="CodiceStruttura"/>
                                    <xs:attribute name="CodCondizioneSanitaria" type="CodCondizioneSanitaria" use="required"/>
                                    <xs:attribute name="CodCategoriaRischio" type="CodCategoriaRischio" use="required"/>
                                    <xs:attribute name="CodiceAICVaccino" type="CodiceAICVaccino"/>
                                    <xs:attribute name="DenomVaccino" type="DenomVaccino"/>
                                    <xs:attribute name="CodTipoFormulazione" type="CodTipoFormulazione" use="required"/>
                                    <xs:attribute name="ViaSomministrazione" type="ViaSomministrazione" use="required"/>
                                    <xs:attribute name="LottoVaccino" type="LottoVaccino"/>
                                    <xs:attribute name="DataScadenza" type="xs:date"/>
                                    <xs:attribute name="ModalitaPagamento" type="ModalitaPagamento" use="required"/>
                                    <xs:attribute name="DataSomministrazione" type="xs:date" use="required"/>
                                    <xs:attribute name="SitoInoculazione" type="SitoInoculazione" use="required"/>
                                    <xs:attribute name="ComuneSomministrazione" type="ComuneSomministrazione"/>
                                    <xs:attribute name="AslSomministrazione" type="AslSomministrazione"/>
                                    <xs:attribute name="RegioneSomministrazione" type="RegioneSomministrazione"/>
                                    <xs:attribute name="StatoEsteroSomministrazione" type="StatoEsteroSomministrazione"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="IdAssistito" type="IdAssistito" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="CodiceRegione" type="CodiceRegione" use="required"/>
            <xs:attribute name="Modalita" type="Modalita" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Modalita">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:enumeration value="RE"/>
         </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipoTrasmissione">
        <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="V"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="c"/>
            <xs:enumeration value="v"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceRegione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="010"/>
            <xs:enumeration value="020"/>
            <xs:enumeration value="030"/>
            <xs:enumeration value="041"/>
            <xs:enumeration value="042"/>
            <xs:enumeration value="050"/>
            <xs:enumeration value="060"/>
            <xs:enumeration value="070"/>
            <xs:enumeration value="080"/>
            <xs:enumeration value="090"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="130"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="160"/>
            <xs:enumeration value="170"/>
            <xs:enumeration value="180"/>
            <xs:enumeration value="190"/>
            <xs:enumeration value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IdAssistito">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9+/=]{172}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipoErogatore">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceStruttura">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{0,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodCondizioneSanitaria">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodCategoriaRischio">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodiceAICVaccino">
        <xs:restriction base="xs:string">
            <xs:pattern value="E[0-9]{8}|[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DenomVaccino">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodAntigene">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CodTipoFormulazione">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ViaSomministrazione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LottoVaccino">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModalitaPagamento">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Dose">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SitoInoculazione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="07"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ComuneSomministrazione">
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AslSomministrazione">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegioneSomministrazione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="010"/>
            <xs:enumeration value="020"/>
            <xs:enumeration value="030"/>
            <xs:enumeration value="041"/>
            <xs:enumeration value="042"/>
            <xs:enumeration value="050"/>
            <xs:enumeration value="060"/>
            <xs:enumeration value="070"/>
            <xs:enumeration value="080"/>
            <xs:enumeration value="090"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="130"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="160"/>
            <xs:enumeration value="170"/>
            <xs:enumeration value="180"/>
            <xs:enumeration value="190"/>
            <xs:enumeration value="200"/>
            <xs:enumeration value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatoEsteroSomministrazione">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>